@model IEnumerable<FS20.Models.TrainingType>

@{
    ViewData["Title"] = "Training Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<h1>Training Type</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table table-striped table-bordered" style="background-color:whitesmoke;opacity:0.9">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.TrainingTypeID">Edit</a>
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TrainingTypeID">Details</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TrainingTypeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
